.location-selection {
  max-height: calc(100dvh - 10dvh - 68px - 68px);
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  ul {
    padding-top: 1rem;
    display: grid;
    gap: 4px;
    a {
      cursor: pointer;
      text-decoration: none;
      padding-left: 1rem;
      font-weight: 500;
      color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .check {
        display: none;
        width: 20px;
      }
      .check.selected {
        display: block;
      }
    }
  }
  ul a.selected {
    color: var(--accent-color-red);
  }
}