.movie-selection {
  max-height: calc(100dvh - 10dvh - 68px - 68px);
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  ul {
    padding-top: 1rem;
    display: grid;
    gap: 12px;

    a {
      cursor: pointer;
      text-decoration: none;
      padding-left: 1rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--primary-color);

      .grade-title-area {
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 8px;
        width: 28px;
        border-radius: 4px;
      }
      /* .grade-badge {
        margin-right: 8px;
      } */
      .check {
        display: none;
        width: 20px;
      }
      .check.selected {
        display: block;
      }
    }
  }
  ul a.selected {
    color: var(--accent-color-red);
  }
}
