.navbar-wrapper {
  background: whitesmoke;
}
.slider {
  width: 1600px;
  max-width: 100%;
  margin: 100px auto 20px;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: both;
  .posters-area {
    display: flex;
    width: max-content;
    align-items: center;
    user-select: none;
  }
  .posters-area:active {
    cursor: grab;
  }
}
.item-container {
  position: relative;
  width: 300px;
  margin: 10px;
  scroll-snap-align: start;
}
.item-container::before {
  /*the shadow in top of the poster*/
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.03) 90%,
    rgba(0, 0, 0, 0.5)
  );
}
.slider::-webkit-scrollbar {
  display: none;
}

.arrows-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  .left-arrow,
  .right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding-right: 4px;
    background-color: rgb(168, 164, 164);
    opacity: 0.8;
    box-shadow: 0 0px 20px #969ea3;
    cursor: pointer;
    img {
      height: 60%;
    }
  }
  .right-arrow {
    padding-right: 0;
    padding-left: 4px;
  }
  .left-arrow:hover,
  .right-arrow:hover {
    opacity: 1;
  }
}
/*desktop*/
@media screen and (max-width: 1200px) {
  .item-container {
    width: calc(25vw - 20px); /*only 4 items are displayed*/
  }
}
/*tablet*/
@media screen and (max-width: 900px) {
  .item-container {
    width: calc(33.3vw - 18px); /*only 3 items are displayed*/
  }
}
/*mobile*/
@media screen and (max-width: 500px) {
  .item-container {
    width: calc(50vw - 18px); /*only 2 items are displayed*/
  }
}
