.my-page-main {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 90dvh;
  background: linear-gradient(
    90deg,
    #3a346e 15%,
    #172c87 43%,
    #3985a3 100%
  );

  .my-page-wrapper {
    width: 800px;
    background-color: rgb(242 244 245);
    display: grid;
    border-radius: 8px;
    padding: 1rem;

    .feature-area {
      .feature-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        > * {
          background-color: transparent;
          color: black;
          border-radius: unset;
        }

        .selected-ft {
          background-color: cadetblue;
          color: white;
        }
      }
    }
  }
}
.feature-content {
  min-height: 680px;
  min-height: calc(100dvh - 10dvh - 65px - 32px - 21px - 20px);
}

@media screen and (max-width: 1300px) {
  .my-page-main {
    .my-page-wrapper {
      padding: 1rem;
      .feature-area {
        .feature-wrapper {
          > * {
            color: black;
            font-size: 16px;
            font-weight: 500;
            padding: 12px;
          }
  
          .selected-ft {
            background-color: cadetblue;
            color: white;
          }
        }
      }
    }
  }
  .feature-content {
    min-height: calc(100dvh - 10dvh - 65px - 32px - 1rem - 8px);
  }
}
