.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 140px;
  cursor: pointer;
}
.nav-bar {
  position: relative;
  height: 10dvh;

  ul.center-menu {
    li.li-center-menu {
      .middle-navigation {
        font-weight: 700;
        cursor: pointer;
        .span-nav-content {
          position: relative;
          color: black;
          transition: 0.3s;
          opacity: 0.5;
        }

        ul.sub-tab {
          position: absolute;
          left: 0;
          background-color: rgb(224, 227, 231);
          width: 150%;
          transform: translate(-15%, 25%);
          border-radius: 0 0 12px 12px;
          box-shadow: 0 4px 4px lightgray;
          transition: 0.5s;
          display: none;

          li.li-sub-tab {
            display: flex;
            justify-content: center;
            padding: 0;
            a.sub-tab-navigation {
              padding: 0;
              margin: 0;
              text-decoration: none;
              color: rgb(158, 158, 158);
              font-weight: 500;
            }
          }
          li.li-sub-tab:hover a {
            color: rgb(1, 140, 212);
          }
        }
        .span-nav-content::before {
          content: "";
          position: absolute;
          top: 28px;
          width: 0;
          height: 2px;
          background-color: rgb(1, 140, 212);
          transition: width 0.25s ease-out;
        }
        .span-nav-content:hover::before {
          width: 100%;
        }
      }
      .middle-navigation:hover .span-nav-content {
        color: var(--primary-color);
        opacity: 1;
      }
      /* .li-center-menu:hover ul.sub-tab {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
      } */
      button {
        border: none;
        display: grid;
        justify-content: center;
        align-items: center;
      }
    }
    li.li-center-menu:hover ul.sub-tab {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
    }
  }
  .center-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  button {
    font-size: 20px;
    font-weight: 500;
    padding: 4px;
  }
  button:hover {
    color: var(--primary-color);
    background-color: unset;
    border: 1px solid var(--primary-color);
  }
}
.my-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  .my-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    padding-top: 2px;
  }
}
.my-button:hover .my-icon {
  background-color: unset;
  filter: invert(37%) sepia(10%) saturate(5366%) hue-rotate(178deg) brightness(91%) contrast(87%);
}

/*desktop*/
@media screen and (max-width: 1300px) {
  .logo {
    width: 116px;
  }
}