.schedule-main-area {
  min-height: 90dvh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: black;

  .content {
    width: 80dvw;
    height: 100%;
    font-size: 20px;
    background-color: white;

    .hall-and-movie-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;

      button {
        border-radius: 0;
        height: 68px;
        border: none;
        background-color: rgb(111, 120, 135);
      }
      .selected-btn {
        background-color: rgb(1, 127, 192);
      }
    }
  }
}
