:root {
  --primary-color: rgb(42, 104, 174);
  --button-hover-color: rgb(38, 90, 150);
  --accent-color-red: rgb(255, 0, 0);
  --text-color: #333;
  --background-color: #f9f9f9;
  --success-color: #4caf50;
  --error-color: #f44336;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  box-shadow: none;
  background-color: var(--primary-color);
}
button:hover {
  background-color: var(--button-hover-color);
}
